* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1300px;
    margin: auto;
}

.section1 {
    width: 100%;
    margin: auto;
    // height: 900px;
    background-image: url(./backraund.png);
    background-repeat: no-repeat;
    padding-bottom: 40px;

    .iconka {
        width: 96%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;

        .header {
            width: 88%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .main {
                width: 45%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                text-align: center;
                margin-right: 35px;
            }

            .main a {
                text-decoration: none;
                color: white;
            }
        }

        .header img {
            width: 6%;
        }

        .header button {
            background-image: url(./backraund.png);
            color: white;
            border-radius: 5px;
            padding: 7px 25px;
            border: 1px solid rgba(92, 23, 205, 1);
            cursor: pointer;
        }

        .header button:hover {
            background-image: none;
            background-color: rgb(209, 204, 204);
            color: black;
        }
    }

    .iconka i {
        font-size: 15px;
        color: white;
        cursor: pointer;
        display: none;
    }

    .iconka i:hover {
        color: rgb(134, 129, 129);

    }

    .batton {
        width: 83%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding-top: 50px;
        color: white;

        .text {
            width: 40%;
        }

        .text h1 {
            font-size: 50px;

        }
    }

    .batton img {
        width: 60%;
        margin-right: -45px;
    }

    .ollputin {
        width: 84%;
        margin: auto;

        .input {
            width: 40%;
            padding-top: 50px;
            display: flex;
            justify-content: space-between;
            align-items: start;
            margin-top: -230px;

            .para {
                width: 49%;
                margin: auto;
                text-align: start;
                color: rgb(164, 158, 158);
            }

            .para button {
                margin-top: 30px;
                background-color: rgba(56, 109, 244, 1);
                padding: 8px 45px;
                border: 0;
                color: wheat;
                cursor: pointer;
                border-radius: 5px;
            }

            .para button:hover {
                background-color: rgb(208, 198, 198);
                color: black;
            }
        }

        .input .poro {
            color: white;
        }

        .input .br {
            padding-left: 10px;
        }
    }

    .bottom {
        width: 83%;
        padding-top: 50px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .botink i {
            background-color: rgba(56, 109, 244, 1);
            padding: 7px 10px;
            border-radius: 10px;
            cursor: pointer;
            color: white;
        }

        .botink i:hover {
            background-color: rgb(208, 198, 198);
            color: black;
        }

        .botpa {
            width: 65%;
            margin: auto;
            display: flex;
            color: white;
            justify-content: space-evenly;
            gap: 15px;
            align-items: center;

            .pad {
                color: rgb(143, 140, 140);
                border-bottom: 1px solid rgb(143, 140, 140);
            }
        }

        .botpa p {
            border-bottom: 1px solid white;
            padding: 5px 120px;
        }
    }
}

.section2 {
    width: 100%;
    margin: auto;
    padding: 80px 0;

    .sarlavha {
        width: 86%;
        margin: auto;

        .sar {
            width: 98%;
            margin: auto;
            // display: flex;
            // justify-content: space-evenly;
            align-items: end;
        }

        .sar h1 {
            width: 40%;
        }

        .sar p {
            width: 43%;
            border-left: 1px solid rgb(223, 222, 222);
            padding: 0 15px;
            margin: 25px 280px;
        }

        .nug {
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            gap: 25px;
            padding-top: 35px;

            .dom {
                width: 33%;
                margin: auto;
                height: 300px;
                border: 1px solid rgb(237, 234, 234);
                border-radius: 10px;
                padding-left: 35px;
                padding-right: 35px;
                text-align: center;
                padding-top: 40px;
            }

            .dom img {
                width: 50%;
            }

            .dom h4 {
                text-align: start;
                padding-top: 20px;
            }

            p {
                text-align: start;
                padding-top: 20px;
                color: grey;
            }
        }
    }
}

.section3 {
    width: 100%;
    margin: auto;
    margin-top: 70px;
    text-align: end;

    .index {
        width: 85%;
        margin: auto;

        .olam {
            width: 40%;
            text-align: start;
        }

        .olam h1 {
            padding-bottom: 40px;
        }

        .olam img {
            padding-top: 40px;
            width: 30%;
            height: 50px;
        }
    }

    .sart {
        margin-top: -230px;
    }
}

.section4 {
    width: 100%;
    margin: auto;
    background-image: url(./backraund2.png);
    background-repeat: no-repeat;
    padding-bottom: 50px;

    .ollbig {
        width: 88%;
        margin: auto;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;

        // gap: 25px;
        .big {
            width: 25%;
            margin: auto;
            color: rgb(81, 80, 80);
            border: 1px solid rgb(81, 80, 80);
            padding: 30px;
        }

        .big .pad {
            padding: 25px 0;
        }

        .big p {
            // width: 64%;
        }

        .big p sub {
            font-size: 40px;
        }

        .big button {
            margin-top: 35px;
            background-image: url(./backraund2.png);
            background-repeat: no-repeat;
            color: rgb(81, 80, 80);
            border: 1px solid rgba(56, 109, 244, 1);
            padding: 10px 80px;
            border-radius: 5px;
        }

        .big button:hover {
            background-image: none;
            background-color: rgb(81, 80, 80);
            color: white;
        }

        .bigmo {
            color: white;
            border: 1px solid white;
        }

        .bigmo button {
            color: white;
            background-image: none;
            background-color: rgba(56, 109, 244, 1);
        }
    }
}

.section4 h1 {
    color: white;
    padding-left: 95px;
    padding-top: 80px;
}

.section5 {
    width: 100%;
    margin: auto;
    padding: 80px 0;

    .sarlavhanamo {
        width: 86%;
        margin: auto;

        .sarash {
            width: 98%;
            margin: auto;
            // display: flex;
            // justify-content: space-evenly;
            align-items: end;
        }

        .sarash h1 {
            width: 40%;
        }

        .nugash {
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            gap: 25px;
            padding-top: 35px;

            .doma {
                width: 33%;
                margin: auto;
                height: 350px;
                border: 1px solid rgb(237, 234, 234);
                border-radius: 10px;
                padding-left: 35px;
                padding-right: 35px;
                text-align: center;
                padding-top: 40px;
            }

            .doma img {
                width: 40%;
            }

            .doma button {
                margin-left: -200px;
                padding: 5px;
                border-radius: 15px;
                background-color: rgba(56, 78, 133, 1);
                color: white;
                border: 0;
                margin-top: 15px;
                font-size: 10px;
            }

            .doma h4 {
                text-align: start;
                padding: 20px 0;
            }

            .doma p {
                text-align: start;
                color: gray;
            }
        }

        .pai {
            text-align: end;
            padding: 20px 0;
        }

        .pai a,
        i {
            text-decoration: none;
            color: #4576c9;
            text-align: end;
        }
    }
}

.section6 {
    width: 100%;
    margin: auto;

    .kalon {
        width: 84%;
        margin: auto;

        .ollsmall {
            margin-top: 50px;
            width: 67%;
            padding-left: 370px;

            .small {
                width: 100%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                border-top: 1px solid rgb(228, 227, 227);
                margin-top: 20px;
                padding: 10px 0;

                .small1 {
                    width: 25%;
                    // margin: auto;
                }

                .small2 {
                    width: 58%;
                    margin: auto;
                }

                .small2 button {
                    background-color: rgba(56, 78, 133, 1);
                    border: 0;
                    padding: 5px 15px;
                    margin: 10px 0;
                    color: white;
                    border-radius: 15px;
                }
            }

            .paiv {
                text-align: end;
                padding: 35px 0;
            }

            .paiv a {
                text-decoration: none;
                color: #4576c9;
            }
        }
    }
}

.section7 {
    width: 100%;
    margin: auto;
    background-image: url(./backraund2.png);
    background-repeat: no-repeat;

    .end {
        width: 88%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        color: white;
        gap: 35px;
        align-items: start;

        .first {
            width: 35%;
            margin: auto;
            // padding-top: 20px;
        }

        .first h3,
        p {
            padding: 15px 0;
        }

        .first a {
            text-decoration: none;
            color: rgba(83, 172, 255, 1);
            padding: 15px 0;
        }

        .first img {
            padding: 15px 0;
        }

        .first .gred {
            color: gray;
            padding-top: 10px;
        }

        .second {
            padding-left: 120px;
            width: 32%;
            margin: auto;
            padding-top: 15px;
        }

        .second h3,
        p {
            padding: 8px 0;
        }

        .third {
            width: 35%;
            margin: auto;
            margin-top: 25px;
        }

        .third input {
            padding: 20px 10px;
            width: 90%;
            margin: auto;
            margin: 5px 0;
            margin-bottom: 20px;
        }

        .third button {
            width: 98%;
            margin: auto;
            padding: 20px 15px;
            background-color: rgba(56, 109, 244, 1);
            color: white;
            border: 0;
        }

        .third button:hover {
            background-color: rgb(97, 96, 96);
            color: white;
        }
    }
}

.pinhon {
    display: none;
}

@media(max-width:560px) {
    .section1 {
        width: 100%;
        margin: auto;
        // height: 1400px;
        flex-direction: column;

        .iconka {
            width: 94%;
            margin: auto;

            .header img,
            button {
                display: none;
            }

            .main a {
                display: none;
            }
        }

        .iconka i {
            display: block;
            font-size: 25px;
        }

        .batton {
            width: 94%;
            flex-direction: column;
            padding: 0;

            .text {
                width: 100%;
                margin: auto;
                margin-top: -10;
                align-items: center;
            }

            .text h1 {
                width: 60%;
                font-size: 40px;
                padding-bottom: 20px;
            }
        }

        .batton img {
            width: 88%;
        }


        .ollputin {
            width: 90%;
            margin: auto;
            align-items: start;
            margin-top: -30px;

            .input {
                width: 100%;
                margin: auto;
                margin: 0;
                align-items: start;

                .para {
                    margin-left: 15px;
                }

                .para button {
                    padding: 8px 35px;
                }
            }

            .input .br {
                display: none;
            }
        }


        .bottom {
            width: 100%;
            margin: auto;

            .botink i {
                display: none;
            }

            .botpa {
                width: 100%;
                margin: auto;
                padding-bottom: 60px;
                background-image: url(./backraund.png);
            }

            .botpa p {
                border-bottom: 1px solid white;
                padding: 5px 50px;
                gap: 5px;
            }
        }


    }

    .section2 {
        width: 100%;
        margin: auto;
        flex-direction: column;
        padding: 0;
        box-sizing: border-box;

        .sarlavha {
            width: 98%;
            margin: auto;
            box-sizing: border-box;

            .sar {
                width: 100%;
                margin: auto;
                box-sizing: border-box;
            }

            .sar h1 {
                width: 90%;
                margin: auto;
                box-sizing: border-box;
            }

            .sar p {
                display: none;
            }

            .nug {
                width: 90%;
                margin: auto;
                flex-direction: column;
                box-sizing: border-box;

                .dom {
                    width: 100%;
                    margin: auto;
                    height: 500px;
                    box-sizing: border-box;
                }

                .dom h4,
                p {
                    font-size: 30px;
                }
            }
        }
    }

    .section3 {
        width: 100%;
        margin: auto;
        background-color: rgb(233, 233, 233);
        margin: 40px 0;
        padding: 40px 0;
        font-size: 20px;

        .index {
            width: 88%;
            margin: auto;

            .olam {
                width: 100%;
                margin: auto;
            }

            .olam p {
                font-size: 34px;
            }

            .olam img {
                width: 45%;
                height: 60px;
            }
        }

        .sart {
            display: none;
        }
    }

    .section4 {
        width: 100%;
        margin: auto;
        background-image: url(./backraund2.png);
        background-repeat: repeat;
        margin-top: -40px;
        flex-direction: column;

        .ollbig {
            width: 96%;
            margin: auto;
            flex-direction: column;
            gap: 25px;
            font-size: 35px;

            .big {
                width: 80%;
                margin: auto;
            }

            .big button {
                // padding: 10px 130px;
                font-size: 35px;
            }
        }
    }

    .section4 h1 {
        padding-left: 35px;
        padding-top: 35px;
        font-size: 45px;
    }

    .section5 {
        width: 100%;
        margin: auto;
        flex-direction: column;
        padding: 0;
        box-sizing: border-box;
        margin-top: 30px;

        .sarlavhanamo {
            width: 98%;
            margin: auto;
            box-sizing: border-box;

            .sarash {
                width: 100%;
                margin: auto;
                box-sizing: border-box;
            }

            .sarash h1 {
                width: 90%;
                margin: auto;
                box-sizing: border-box;
            }

            .nugash {
                width: 90%;
                margin: auto;
                flex-direction: column;
                box-sizing: border-box;

                .doma {
                    width: 100%;
                    margin: auto;
                    height: 550px;
                    box-sizing: border-box;
                }

                .doma button {
                    font-size: 20px;
                    margin-left: -290px;
                }

                .doma h4,
                p {
                    font-size: 30px;
                }
            }
        }
    }

    .section6 {
        width: 100%;

        .kalon {
            width: 87%;
            margin: auto;
            flex-direction: column;

            .ollsmall {
                width: 100%;
                padding-left: 0;
                flex-direction: column;

                .small {
                    width: 100%;
                    margin: auto;
                    flex-direction: column;

                    .small1 {
                        width: 100%;
                        margin: auto;
                    }

                    .small2 {
                        width: 100%;
                        margin: auto;
                    }
                }
            }
        }
    }

    .section7 {
        display: none;
    }

    .pinhon {
        display: block;
        width: 100%;
        margin: auto;
        background-image: url(./backraund2.png);
        color: white;
        padding: 30px 0;

        .okhir {
            width: 88%;
            margin: auto;
            padding: 10px 0;
        }

        .okhir p {
            padding: 5px 0;
        }

        .okhiron {
            width: 88%;
            margin: auto;
            padding: 10px 0;
        }

        .okhiron a {
            text-decoration: none;
            color: rgba(83, 172, 255, 1);
        }

        .okhiron p {
            padding: 10px 0;
        }

        .okhiron img {
            padding-top: 10px;
        }

        .okhiron .gredin {
            color: gray;
        }
    }
}