* {
  margin: 0;
  padding: 0;
}

.section1 {
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: fixed;
  top: 0;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.05);
}
.section1 .navbar {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 .navbar .bain {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.section1 .navbar .bain a {
  text-decoration: none;
  color: black;
}
.section1 .navbar .bain p a {
  color: rgb(103, 186, 48);
}
.section1 .navbar img {
  width: 10%;
  height: 40px;
}
.section1 .navbar button {
  background-color: rgb(103, 186, 48);
  border: 0;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}
.section1 .navbar button:hover {
  background-color: black;
  color: white;
}
.section1 .navbar button i {
  padding-right: 5px;
}
.section1 .pinhon i {
  display: none;
}

.section2 {
  width: 100%;
  margin: auto;
  margin-top: 70px;
  height: 585px;
  background-repeat: no-repeat;
  background-image: url(./backraund.png);
}
.section2 .photo {
  width: 60%;
  margin: auto;
  padding-top: 150px;
  font-size: 25px;
}
.section2 .photo .input {
  width: 40%;
  display: flex;
}
.section2 .photo .input input {
  border: 0;
  padding: 10px 20px;
  border: 1px solid rgb(103, 186, 48);
}
.section2 .photo .input button {
  background-color: rgb(103, 186, 48);
  padding: 10px 20px;
  border: 0;
  color: white;
  padding-right: -10px;
}
.section2 .photo .input button:hover {
  background-color: black;
  color: white;
}
.section2 .photo .input button i {
  padding-right: 5px;
}
.section2 .photo h3 {
  padding: 25px 0;
  font-size: 25px;
  color: rgb(167, 167, 167);
}
.section2 .photo p {
  font-size: 15px;
  padding: 20px 0;
}
.section2 .par {
  padding-top: 30px;
}

.section3 {
  padding: 40px 0;
  width: 100%;
  margin: auto;
}
.section3 .first {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  margin-bottom: 20px;
}
.section3 .first button {
  font-size: 12px;
  padding: 3px 20px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgb(103, 186, 48);
  color: rgb(103, 186, 48);
}
.section3 .suratho {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.section3 .suratho img {
  width: 26%;
}

.section4 {
  width: 100%;
  margin: auto;
  margin-top: -20px;
}
.section4 .firstin {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  margin-bottom: 20px;
}
.section4 .firstin button {
  font-size: 12px;
  padding: 3px 20px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgb(103, 186, 48);
  color: rgb(103, 186, 48);
}
.section4 .ollbig {
  width: 94%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
}
.section4 .ollbig .big {
  width: 43%;
  margin: auto;
  border: 1px solid rgb(233, 232, 232);
  padding: 30px;
  border-radius: 10px;
}
.section4 .ollbig .big .onkol {
  display: flex;
  gap: 10px;
  align-items: center;
}
.section4 .ollbig .big .ulho {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.section4 .buttono {
  border: 1px solid rgb(226, 223, 223);
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  border-radius: 5px;
}
.section4 .buttono1 {
  background-color: rgb(243, 248, 239);
}
.section4 .buttono button {
  border: 0;
  background-color: white;
  color: rgb(103, 186, 48);
}

.section5 {
  width: 100%;
  margin: auto;
  background-color: rgb(243, 248, 239);
  top: 50px;
}
.section5 .kalon {
  margin-top: 100px;
  width: 96%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 22px;
  padding-bottom: 50px;
}
.section5 .kalon .ollhome {
  border-radius: 10px;
  border: 1px solid rgb(230, 225, 225);
  width: 25%;
  margin: auto;
  background-color: white;
  padding: 40px 30px;
}
.section5 .kalon .ollhome .home {
  display: flex;
  align-items: center;
  gap: 20px;
}
.section5 .kalon .ollhome .homevor h3 {
  color: rgb(103, 186, 48);
}
.section5 .kalon .ollhome .h5i {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}
.section5 .kalon .ollhome .h5i .inho {
  padding-right: 25px;
}
.section5 .kalon .ollhome .h5i i {
  font-size: 10px;
}
.section5 .kalon .ollhome .otin {
  border: 1px solid rgb(103, 186, 48);
  padding: 10px 0;
  text-align: center;
  margin-top: 40px;
}
.section5 .kalon .ollhome .otin button {
  border: 0;
  background-color: white;
  color: rgb(103, 186, 48);
}
.section5 .kalon .ollhome .otino {
  border: 1px solid rgb(103, 186, 48);
  padding: 10px 0;
  text-align: center;
  background-color: rgb(103, 186, 48);
}
.section5 .kalon .ollhome .otino button {
  border: 0;
  background-color: rgb(103, 186, 48);
  color: white;
}
.section5 .kalon .ollhome p {
  font-size: 14px;
}

.section5 h1 {
  text-align: center;
  padding: 40px 0;
}

.section6 {
  width: 100%;
  margin: auto;
  background-color: rgb(47, 47, 47);
}
.section6 .sanavbar {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  gap: 25px;
}
.section6 .sanavbar .mobain {
  display: flex;
  gap: 15px;
}
.section6 .sanavbar .mobain a {
  text-decoration: none;
  color: white;
}
.section6 .sanavbar .albain i {
  padding-left: 10px;
  font-size: 20px;
}/*# sourceMappingURL=good.css.map */